# Public waitlist POST from AdminStack output WaitlistApiEndpoint
NEXT_PUBLIC_WAITLIST_API_URL=https://xxxx.execute-api.us-east-1.amazonaws.com/prod/waitlist

# Public business enquire POST from AdminStack output BusinessEnquireApiEndpoint
NEXT_PUBLIC_BUSINESS_ENQUIRE_API_URL=https://xxxx.execute-api.us-east-1.amazonaws.com/prod/business-enquire
